.header {
    display: flex;
    border-bottom: 2px solid $cinza-escuro;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    margin-left: 7.5%;
    width: 85%;
}

.header__logo-links {
    width: auto;
	height: 100%;
	padding-left: 5%;
    img {
        margin-bottom: 1.5rem;
        width: auto;
        height: 40%;
    }
}

.header__logo-links {
    align-items: flex-end;
    display: flex;
	flex-direction: row;
	padding-right: 5%;
}

.header__buttons {
    align-items: flex-end;
    display: flex;
    width: auto;
    height: 100%;
    button {
        margin-bottom: 1.5rem;
        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}
