.header {
    display: flex;
    border-bottom: 2px solid $cinza-escuro;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    margin-left: 7.5%;
    width: 85%;
}

.header__logo-links {
    align-items: flex-end;
    display: flex;
    width: auto;
    height: 100%;
    padding-left: 2.5%;
    > * {
        margin-bottom: 1rem;
    }
    hr {
        border: none;
        border-right: 1px solid transparentize($cinza-escuro, .75);
        height: 35%;
        margin-left: 15%;
        margin-right: 15%;
        width: 0px;
    }
    button {
        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
    button:nth-of-type(1) {
        img {
            width: auto;
        }
    }
}

.header__buttons {
    align-items: flex-end;
    display: flex;
    width: auto;
    height: 100%;
    padding-right: 2.5%;
    button {
        margin-bottom: 1rem;
        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}
