.dashboard {
    color: $cinza-escuro;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 7.5%;
}

.dashboard__firstRow {
    border-bottom: 1px solid $cinza-escuro;
    display: flex;
    flex-direction: column;
    padding: 3% 6%;
    height: 50%;
}

.dashboard__firstRow-header {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    height: 20%;
    h3 {
        margin: 0;
        font-weight: 200;
        font-size: 1.7rem;
    }
}

.dashboard__firstRow-body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    hr {
        border: none;
        border-right: 1px solid transparentize($cinza-escuro, .75);
        height: 40%;
        margin: 0 1.5%;
        width: 0px;
    }
}

.dashboard__secondRow {
    display: flex;
    flex-direction: row;
    padding: 3% 6%;
    height: 50%;
    hr {
        align-self: center;
        border: none;
        border-right: 1px solid transparentize($cinza-escuro, .75);
        height: 40%;
        margin: 0 1.5%;
        width: 0px;
    }
}

.dashboard__secondRow-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
}

.dashboard__secondRow-header {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    height: 20%;
    h3 {
        margin: 0;
        font-weight: 200;
        font-size: 1.7rem;
    }
}

.dashboard__secondRow-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
