// Colors
$preto: #000000;
$branco: #FFFFFF;
$cinza-claro: #F2F2F0;
$cinza-escuro: #676E77;
$cinza: #C9C9C9;
$amarelo: #F2C034;
$laranja: #F2A541;
$verde: #25E19A;
$azul-claro: #34ACF2;
$azul-escuro: #436DF6;
$rosa: #F64A7F;

:export {
    preto: $preto;
    branco: $branco;
    cinzaClaro: $cinza-claro;
    cinzaEscuro: $cinza-escuro;
    cinza: $cinza;
    amarelo: $amarelo;
    laranja: $laranja;
    verde: $verde;
    azulClaro: $azul-claro;
    azulEscuro: $azul-escuro;
    rosa: $rosa;
}
